.App {
  background-color: #f8c6c6;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;

}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 185, 185);
  color: white;
  padding: 8px;
  margin: 10px;
  font-size: 1em;
  border: solid 2px rebeccapurple;
  border-radius: 20%;
  background-image: 'https://cat-fact.herokuapp.com/img/logo/app-logo.png';
}
.cat {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 185, 185);
  color: white;
  padding: 8px;
  margin: 10px;
  font-size: 1em;
  border: solid 2px rebeccapurple;
  border-radius: 20%;
  background-image: 'https://cat-fact.herokuapp.com/img/logo/app-logo.png';
}
